/* Styles */

#messages {
    padding: 0;
}
#messages div {
	margin: 0 0 1em 2em;
}

/* different message types */
#messages .ok,
div.ok {
    color: #547c22;
    background: #e7f1c3 url(/_images/si/success.gif) no-repeat .5em .5em;
    border: 1px solid #C0D76E;
	padding: .5em;
}
#messages .error,
div.error {
    color: #dd0221;
    background: #ffd3d9 url(/_images/si/failure.gif) no-repeat .5em .5em;
    border: 1px solid #dd0221;
	padding: .5em;
}
#messages .info {
    color: #1666a9;
    background: #d2ebff;
	border: 1px solid #B1DCFF; 
	padding: .5em;
}
#messages img {
    padding: .1em;
}
#messages div p {
    margin: 0 0 0 2em;
    padding: 0;
}

/* Bulk user upload styles */
table#bulkuser {
    width: 50%;
    float: left;
    padding: 0.5em;
    margin: 0.5em;
    margin-top: 1em;
}
ul.fieldslist {
    padding-bottom: 0.5em;
}

ul.fieldslist li {
    float: left;
    width: 25%;
}

div#bulkuserdesc {
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 0.5em;
}

.clearer {
  clear: both;
  margin: 0;
  padding: 0;
  height: 15px;
  border: none;
  background: transparent;
  display: block;
}

span.required {
    padding: 0px;
    margin: 0px;
    color: #980000;
}

#bulkuserdesc code {
    background:none repeat scroll 0 0 #F0F0F6;
    border:1px dashed #DDDDDD;
    color: #3D3D3D;
    padding:3px;
}
