/* -----------------------------------------------
    www.swfupload.org
    Description: Common Screen Stylesheet for SWFUpload Demos
    Updated on:  May 1, 2008
----------------------------------------------- */


/* -- Layout ------------------------------- */


/* -- Form Styles ------------------------------- */

div.fieldset {
    border:  1px solid #afe14c;
    margin: 10px 0;
    padding: 15px;
}
div.fieldset span.legend {
    position: relative;
    background-color: #FFF;
    padding: 3px;
    top: -30px;
    font: 700 14px Arial, Helvetica, sans-serif;
    color: #000;
}

div.flash {
    width: 375px;
    margin: 10px 5px;
    border:none;
    clear:both;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
}

#btnSubmit { margin: 0 0 0 0; }

.progressWrapper {
    width: 357px;
    overflow: hidden;
}

.progressContainer {
    margin: 0;
    padding: 4px;
    border: none;
    background-color: transparent;
    overflow: hidden;
}

/* Error */
/* ToDo: This style interferes with the standard infolio styles, need to keep this one and change other infolio stuff */
/*.red {
    border: solid 1px #B50000;
    background-color: #FFEBEB;
} */

/* Current */
.green {
    border: none;
    background-color: transparent;
}

/* Complete */
.blue {
    border: none;
    background-color: transparent;
}

.progressName {
    font-size: 8pt;
    font-weight: 700;
    color: #555;
    width: 323px;
    height: 14px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
    font-size: 0;
    width: 0%;
    height: 10px;
    background-color: #CD3301;
    margin-top: 2px;
}

.progressBarComplete {
    width: 100%;
    background-color: green;
    visibility: hidden;
}

.progressBarError {
    width: 100%;
    background-color: red;
    visibility: hidden;
}

.progressBarStatus {
    margin-top: 2px;
    width: 337px;
    font-size: 12pt;
    font-family: Arial;
    text-align: left;
    white-space: nowrap;
}

a.progressCancel {
    font-size: 0;
    display: block;
    height: 14px;
    width: 14px;
    background-image: url(/_images/si/cancelbutton.gif);
    background-repeat: no-repeat;
    background-position: -14px 0px;
    float: right;
}

a.progressCancel:hover {
    background-position: 0px 0px;
}

#swf-uploader h3 {
	float:left;
}

/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
    vertical-align: top;
    height:28px;
}
.fileUploadButton {
   float: left;
   margin-left: 15px;
   margin-top: 0;
}

